services:
  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - cataogdb
    environment:
     - ASPNETCORE_URLS=http://+:8000
     - DatabaseSettings__ConnectionString=mongodb://cataogdb:27017
     - DatabaseSettings__DatabaseName=CatalogDb
     - DatabaseSettings__BrandsCollection=Brands
     - DatabaseSettings__TypesCollection=Types
     - DatabaseSettings__ProductsCollection=Products
  cataogdb:
    image: mongo
    container_name: cataogdb
    ports:
      - "27017:27017"
    volumes:
      - catalogdata:/data/db

volumes:
  catalogdata:
